* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.navbar {
	display: flex;
	width: 100%;
	height: 70px;
	background: red;
	box-shadow: 2px 2px 2px #808080;
}

.menu {
	display: flex;
	width: 80%;
	height: 60px;
	margin: auto;
	background: black;
	box-shadow: 1px 1px 1px 1px #808080;
}

.menu ul {
	display: flex;
	margin: auto;
	align-items: center;
	gap: 100px;
	transition: 0.3s;
}

ul li {
	list-style: none;
}

ul li a {
	color: yellow;
	text-decoration: none;
	font-size: 23px;
	text-shadow: 0px 2px black;
	transition: 0.3s;
}

ul li a:hover {
	color: white;
	transform: translateY(-5px);
	transition: 0.3s;
}


.banner {
	display: flex;
	margin: auto;
	width: 100%;
	max-height: 450px;
	overflow: hidden;
	border-radius: 0;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	background: transparent;
}

.banner img {
	position: relative;
	display: flex;
	margin: auto;
	width: 100%;
	height: auto;
	border-radius: 7px;
	object-fit: cover;
	box-shadow: 1px 1px 1px #808080;
}

section {
	position: relative;
}

#heading {
	position: absolute;
	top: 30%;
	left: 10%;
	transform: none;
	color: blue;
	text-align: center;
	background: transparent;
	padding: 20px;
	border-radius: 10px;
	line-height: 40px;
}

h1.hdn {
	color: blue;
	font-size: 35px;
	text-shadow: 2px 1px 2px black;
}

h2.hdn {
	color: fuchsia;
	font-size: 25px;
	text-shadow: 1px 1px 1px black;
}

p.hdn {
	font-size: 27px;
}

.SS {
	display: flex;
	width: 100%;
	height: 250px;
	background: transparent;

}

.ART {
	display: flex;
	width: 20%;
	height: 250px;
	border: 2px solid #008080;
	background: transparent;
	margin: auto;
	border-radius: 10px;
}


.services {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	min-height: 350px;
	height: auto;
	gap: 35px;
	padding: 5px;
	align-items: stretch;
	background: transparent;
}

.card {
	display: flex;
	flex-direction: column;
	width: 23%;
	height: auto;
	background: #fffacd;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 15px;
	transition: 0.3s;
	box-sizing : border-box; 
}

.card h1 {
	color: red;
	font-size: 23px;
	text-align: center;
	margin-bottom: 10px;
	padding-left: 10px;
	font-family: "Stencil", Arial, sans-serif;

}

.card ul {
	padding-left: 20px;
	margin-top: auto;

}

.card li {
	margin-bottom: 25px;
	color: #228b22;
	font-size: 21px;
	font-family: Cambria Math;
}

.card {
	border-radius: 10px;
	box-shadow: 2px 2px 2px #c0c0c0;
}

.card:hover {
	transform: translateY(-5px);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 900px) {
	.card {
		width: 48%;
	}
}

@media (max-width: 600px) {
	.card {
		width: 100%;
	}
}

footer {
	width: 100%;
	min-height: 100px;
	background-color: blue;
	text-align: center;
	color: white;
	font-size: 18px;
	align-content: center;

}
